
@page {
    size: A4;
    margin-bottom: 2cm;
    margin-top: 2cm;
}

h1, h2, h3, h4, h5 {
    page-break-after: avoid;
}

.nobreak {
    page-break-inside: avoid;
}

.list-group-item {
    page-break-inside: avoid;
}

